.logo-container {
    margin-top: 69px;
    margin-left: 162px;
    margin-bottom: 69px;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 36px;
    height: 53px;
    display: inline-block;
    vertical-align: middle;
}

.logo-text {
    font-family: "Roboto", Times; serif;  
    font-size: 28px;
    font-weight: 400;
    font-style: bolder;
    color: #274c5b; 
    text-shadow: 0 0 2px black;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    width: 564px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 150px;
    margin-top: 25px;
    margin-bottom: 69px;
}

.home {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}

.about {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}

.pages {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}

.vector {
    display: inline-block;
    vertical-align: middle;
}


.shop {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}

.projects {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}

.news {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}
.menu2 {
    width: 553px;
    height: 66px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 69px;
}

.search {
    width: 376px;
    height: 66px;
    display: inline-block;
}

.searchbutton {
    width: 56px;
    height: 56px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 301px;
    margin-right: 5px;
    }

.cart   {
    width: 159px;
    height: 66px;
    display: inline-block;
    }

.carticon {
    width: 56px;
    height: 56px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    }

.carttext  {
    font-family: "Roboto", Times; serif;  
    font-size: 16px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
}

.banner {
    display: flex;
    width: 1920px;
    height: 898px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
}

.content {
    width: 530px;
    height: 303px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        }

.title1 {
    font-family: "Yellowtail", cursive;
    font-size: 26px;
    font-weight: 400;
    color: #68a47f;
    font-style: normal;
    margin-top: 247px;
    margin-bottom: 8px;
    margin-left: 260px;
    margin-right: 1130px;
}

.title2 {
    font-family: "Roboto", Times; serif;  
    font-size: 60px;
    font-weight: 600;
    font-style: bolder;
    color: #274c5b; 
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 260px;
    margin-right: 1130px;
}
.button {
    margin-top: 3px;
    margin-left: 260px;
    margin-bottom: 300px;
    margin-right: 1440px;
} 

